extends layout

block content
  div.container.text-center
    h2.m-3 Messages
  div.container.text-center
    each msg in messages
      div(
        class="card-size",
        style={display:"inline-block"}
        ).card.border-warning.m-3
        div.card-header.text-center
          h5= msg.user
        div.text-right
          small.text-muted= msg.added
        div.card-body
          p.card-text= msg.text
