doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- !-- Latest compiled and minified CSS -->
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

    //- <!-- jQuery library -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //- <!-- Latest compiled JavaScript -->
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")

    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav(id="navbar").navbar.navbar-dark.bg-dark
      div.container
        a(href=`http://${hostname}/`, id="headerlink").navbar-brand.display-1  Mini Message Board
        a(href=`http://${hostname}/new`).navbar-item.nav-link.navbar-right.btn.btn-outline-warning.btn-sm New
    block content